## TF-IDF Vectorization:

In [ ]:
from __future__ import print_function
from google.colab import files 

import io
import pandas as pd


  
#Code to upload the dataset from your computer as a dataframe
df=pd.read_csv("/content/preprocessed_data.csv")

In [ ]:
df.head(10)

,Unnamed: 0,Unnamed: 0.1,product,desc,product_id
0,0,0,Strap top,solid jersey basic basic everyday woman should...,1
1,1,1,Strap top (1),stripe jersey basic basic everyday woman shoul...,2
2,2,2,OP T-shirt (Idro),solid clean lingerie woman lingerie visible mi...,3
3,3,3,20 den 1p Stockings,solid tights basic tigh sock nightwear woman w...,4
4,4,4,Shape Up 30 den 1p Tights,solid tights basic tigh sock nightwear woman a...,5
5,5,5,Support 40 den 1p Tights,solid tights basic tigh sock nightwear woman e...,6
6,6,6,200 den 1p Tights,solid tights basic tigh sock nightwear woman m...,7
7,7,7,SWEATSHIRT OC,pattern basic baby complement essential baby p...,8
8,8,8,Alice BANDEAU 2-p,stripesolid casual lingerie woman lingerie top...,9
9,9,9,Frugan longsleeve,solid jersey basic basic everyday woman neckli...,10

In [ ]:
#TF-IDF Vectorization
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=21)
vectors = vectorizer.fit_transform(df['desc'])

In [ ]:
vectors = vectorizer.fit_transform(df['desc'].to_list())
vectors.shape

(10000, 21)

In [ ]:
x = df.product_id

In [ ]:
y = vectors.todense()

In [ ]:
#Add vectors to the dataset
import numpy as np
df['vectors'] = [y[i] for i in range(10000)]

In [ ]:
df.head()

,Unnamed: 0,Unnamed: 0.1,product,desc,product_id,vectors
0,0,0,Strap top,solid jersey basic basic everyday woman should...,1,[[[[[0. 0. 0. 0. ...
1,1,1,Strap top (1),stripe jersey basic basic everyday woman shoul...,2,[[[[[0. 0. 0. 0. ...
2,2,2,OP T-shirt (Idro),solid clean lingerie woman lingerie visible mi...,3,[[[[[0.60479094 0. 0. 0. ...
3,3,3,20 den 1p Stockings,solid tights basic tigh sock nightwear woman w...,4,[[[[[0. 0. 0. 0. ...
4,4,4,Shape Up 30 den 1p Tights,solid tights basic tigh sock nightwear woman a...,5,[[[[[0. 0. 0. 0. ...

In [ ]:
#Calculate cosine similarity score for the vectors.
from sklearn.metrics.pairwise import cosine_similarity
cs =cosine_similarity(vectors)
cs.shape

(10000, 10000)

In [ ]:
def get_index_from_query(query):
    return df[df['product'] == query]['product_id'].values[0]
product_index = get_index_from_query("ROMY 2p")

In [ ]:
similar_items = list(enumerate(cs[product_index]))

In [ ]:
sorted_similar_items = sorted(similar_items, key=lambda x:x[1], reverse=True)

In [ ]:
#Get recommendations based on Tf-idf vectorization and cosine similarity score.
def get_product_from_index(index):
    return df[df['product_id'] == index]['product'].values[0]
i=0
for product in sorted_similar_items:
    print(get_product_from_index(product[0]))
    i=i+1
    if i>5:
        break

Strap top
Polly 3p minishaftless
ROMY 2p
Polly Top
SPEED Paprika LS
MIR cashmere/cotton trousers